html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background: purple;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 30px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #333;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 5px;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}

.nav-item a:hover {
    background-color: purple;
}

.nav-item a.active {
    background-color: purple;
    color: white;
}

.main_page {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.sidebar {
    width: 300px;
    background: darkgrey;
    padding: 10px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.sidebar ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    background-color: rgb(231, 231, 231);
    text-align: left;
}

.sidebar li {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 0;
    text-align: left;
    color: black;
    transition: background-color 0.3s;
}

.sidebar h3 {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    background-color: black;
    transition: background-color 0.3s;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.sidebar li a {
    display: block;
    text-align: left;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.sidebar li a:hover {
    background-color: #555;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px;
    background: white;
    margin-bottom: 20px;
}

.gallery {
    width: 250px;
    height: 400px;
    margin: 10px;
    text-align: center;
    background: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: border-color 0.3s;
}

.gallery:hover {
    border-color: purple;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

footer {
    background: grey;
    color: darkgrey;
    text-align: left;
    padding: 30px;
    width: 100%;
    flex-shrink: 0;
}

.back a:link, .back a:visited {
    background-color: purple;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.back a {
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
}

.back a:hover, .back a:active {
    background-color: rgb(150, 0, 150);
}